$border-radius: 3px;
$border: 1px solid black;

@mixin input-wrapper {
    border: $border;
    padding: 10px;
    border-radius: $border-radius;
    background-color: white;
    width: 100%;
    box-sizing: border-box;
    height: 40px;
}